$nsw-buttons: (
        dark: (
                text-color: var(--nsw-text-light),
                text-color-invert: var(--nsw-section-bg),
                text-color-hover: var(--nsw-text-light),
                text-color-hover-invert: var(--nsw-section-bg),
                background: var(--nsw-brand-dark),
                background-invert: var(--nsw-white),
                background-hover: var(--nsw-brand-dark),
                background-hover-invert: var(--nsw-white),
                border: transparent,
                border-hover: transparent,
                focus: var(--nsw-focus),
                focus-invert: var(--nsw-focus-light),
                hover: white,
                hover-invert: black
        ),
        dark-outline: (
                text-color: var(--nsw-brand-dark),
                text-color-invert: var(--nsw-white),
                text-color-hover: var(--nsw-text-light),
                text-color-hover-invert: var(--nsw-section-bg),
                background: transparent,
                background-invert: transparent,
                background-hover: var(--nsw-brand-dark),
                background-hover-invert: var(--nsw-white),
                border: var(--nsw-brand-dark),
                border-invert: var(--nsw-white),
                border-hover: transparent,
                border-hover-invert: transparent,
                focus: var(--nsw-focus),
                focus-invert: var(--nsw-focus-light),
        ),
        dark-outline-solid: (
                text-color: var(--nsw-brand-dark),
                text-color-invert: var(--nsw-white),
                text-color-hover: var(--nsw-text-light),
                text-color-hover-invert: var(--nsw-section-bg),
                background: var(--nsw-white),
                background-invert: var(--nsw-section-bg),
                background-hover: var(--nsw-brand-dark),
                background-hover-invert: var(--nsw-white),
                border: var(--nsw-brand-dark),
                border-invert: var(--nsw-white),
                border-hover: transparent,
                border-hover-invert: transparent,
                focus: var(--nsw-focus),
                focus-invert: var(--nsw-focus-light)
        ),
        light: (
                text-color: var(--nsw-text-dark),
                text-color-invert: var(--nsw-section-bg),
                text-color-hover: var(--nsw-text-dark),
                text-color-hover-invert: var(--nsw-section-bg),
                background: var(--nsw-brand-light),
                background-invert: var(--nsw-brand-light),
                background-hover: var(--nsw-brand-light),
                background-hover-invert: var(--nsw-brand-light),
                border: transparent,
                border-invert: transparent,
                border-hover: transparent,
                border-hover-invert: transparent,
                focus: var(--nsw-focus),
                focus-invert: var(--nsw-focus-light),
                hover: black,
                hover-invert: white
        ),
        light-outline: (
                text-color: var(--nsw-brand-light),
                text-color-invert: var(--nsw-brand-light),
                text-color-hover: var(--nsw-text-dark),
                text-color-hover-invert: var(--nsw-section-bg),
                background: transparent,
                background-invert: transparent,
                background-hover: var(--nsw-brand-light),
                background-hover-invert: var(--nsw-brand-light),
                border: var(--nsw-brand-light),
                border-invert: var(--nsw-brand-light),
                border-hover: transparent,
                border-hover-invert: transparent,
                focus: var(--nsw-focus),
                focus-invert: var(--nsw-focus-light)
        ),
        white: (
                text-color: var(--nsw-text-dark),
                text-color-invert: var(--nsw-section-bg),
                text-color-hover: var(--nsw-text-dark),
                text-color-hover-invert: var(--nsw-section-bg),
                background: var(--nsw-white),
                background-invert: var(--nsw-white),
                background-hover: var(--nsw-white),
                background-hover-invert: var(--nsw-white),
                border: transparent,
                border-invert: transparent,
                border-hover: transparent,
                border-hover-invert: transparent,
                focus: var(--nsw-white),
                focus-invert: var(--nsw-focus-light),
                hover: black,
                hover-invert: black
        ),
        white-outline: (
                text-color: var(--nsw-white),
                text-color-invert: var(--nsw-white),
                text-color-hover: var(--nsw-text-dark),
                text-color-hover-invert: var(--nsw-section-bg),
                background: transparent,
                background-invert: transparent,
                background-hover: var(--nsw-white),
                background-hover-invert: var(--nsw-white),
                border: var(--nsw-white),
                border-invert: var(--nsw-white),
                border-hover: transparent,
                border-hover-invert: transparent,
                focus: var(--nsw-white),
                focus-invert: var(--nsw-focus-light),
                hover: black,
                hover-invert: white
        ),
        danger: (
                text-color: var(--nsw-text-light),
                text-color-invert: var(--nsw-text-light),
                text-color-hover: var(--nsw-text-light),
                text-color-hover-invert: var(--nsw-text-light),
                background: var(--nsw-status-error),
                background-invert: var(--nsw-status-error),
                background-hover: var(--nsw-status-error),
                background-hover-invert: var(--nsw-status-error),
                border: transparent,
                border-invert: transparent,
                border-hover: transparent,
                border-hover-invert: transparent,
                focus: var(--nsw-focus),
                focus-invert: var(--nsw-focus-light),
                hover: white,
                hover-invert: white
        ),
        info: (
                text-color: var(--nsw-text-light),
                text-color-hover: var(--nsw-text-light),
                background: var(--nsw-status-info),
                background-hover: var(--nsw-status-info),
                border: transparent,
                border-hover: transparent,
                focus: var(--nsw-focus),
                focus-invert: var(--nsw-focus-light),
                hover: white
        ),
);